header {
    background: #121212;
    .container {
        display: flex;
        align-items: center;
    }
    
     a.logo {
        max-width: 150px;
        right: 20px;
    }
    }

.header-nav {
    display: flex;
    align-items: center;
    gap: 25px;
    text-transform: uppercase;
    transition: .4s;

    &.show {
        display: flex;
    }
    
    a {
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        padding: 6px 12px;
        transition: .4s;
    }

}

.btn-burger {
    padding: 1.3px 13.5px;
    border: none;
    position: relative;
    margin-left: auto;
   
    &:before,
    &:after {
        content: "";
        top: -11px;
        left: 0;
        position: absolute;
        height: 2.5px;
        width: 27px;
        background: #fff;
        transition: .3s;
    }

    &:after {
        top: initial;
        bottom: -11px;
        left: 0;
    }

    &.open {
        background: transparent;
        &:before {
            transform: rotate(-45deg) translate(-6px, 6px);
            }
        &:after {
        transform: rotate(45deg) translate(-10px, -10px);
        }
    }
}
